ATTRITION_SERVICE=
EMPLOYEE_SERVICE=
FINANCE_SERVICE=
IDENTITY_SERVICE=
IMPORT_SERVICE=
LEAVE_SERVICE=
NOTIFICATION_SERVICE=
ORGANIZATION_SERVICE=
PAYROLL_SERVICE=
QUESTIONNAIRE_SERVICE=
TENANT_SERVICE=
WORKFLOW_SERVICE=
NEXT_PUBLIC_ENCRYPTION_SECRET=